{% extends 'tweets/base.html' %}

{% block title %} - Home{% endblock %}
{% block content %}

    <div class="row text-center">
        <div class="col">
            <h2>Welcom to Tweetme</h2>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 mx-auto col-10">
            <form class="form" id="tweet-create-form" action="/create-tweet" method="post">{% csrf_token %}
                <div class="d-none alert alert-danger" id="tweet-error">

                </div>
                <input type="hidden" name="next" value="/">
                <textarea class="form-control" name="content" placeholder="Your tweet..." required></textarea>
                <button class="btn btn-primary" type="submit" name="button">Tweet</button>
            </form>

        </div>
    </div>

    <!-- <div class="row"> -->
        <div class="row" id="tweets">
            Loading...
        </div>

    <!-- </div> -->

    <script type="text/javascript">

        const tweetCreateFormEl = document.getElementById('tweet-create-form')
        const tweetsEl = document.getElementById("tweets")
        // console.log(tweetCreateFormEl);

        function handleTweetFormError(msg, display) {
            var errorDiv = document.getElementById("tweet-error")

            if (display === true) {
                errorDiv.setAttribute("class", "d-block alert alert-danger")
                errorDiv.innerText = msg

            } else {
                errorDiv.setAttribute("class", "d-none alert alert-danger")
            }
        }


        function handleFormDidSubmit(event) {
            event.preventDefault()

            const myForm = event.target
            const myFormData = new FormData(myForm)
            const url = myForm.getAttribute("action")
            const method = myForm.getAttribute("method")

            const xhr = new XMLHttpRequest()
            const responseType = 'json'

            xhr.responseType = responseType
            xhr.open(method, url)
            xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', "XMLHttpRequest")
            xhr.setRequestHeader('X-Requested-With', "XMLHttpRequest")
            xhr.onload = function() {
                // console.log(xhr.response)
                if(xhr.status === 201){
                    const serverResponse = xhr.response
                    // console.log(serverResponse);
                    // console.log(serverResponse.likes);
                    // loadTweets(tweetsEl)
                    const newTweet = formatTweetElement(serverResponse)
                    // console.log(newTweet);
                    ogHtml = tweetsEl.innerHTML
                    tweetsEl.innerHTML = newTweet + ogHtml
                    myForm.reset()
                    handleTweetFormError('', false)

                } else if (xhr.status === 400) {
                    const errorJson = xhr.response
                    const contentError = errorJson.content

                    let contentErrorMsg;
                    if (contentError) {
                        contentErrorMsg = contentError[0]
                        handleTweetFormError(contentErrorMsg, true)
                    } else {
                        alert("An error occured. Please try again.");
                    }

                    console.log(errorJson);
                } else if (xhr.status === 500) {
                    alert("There was a server error. Please try again later");
                } else if (xhr.status === 401) {
                    alert("You must login!");
                    window.location.href = '/login'
                }


            }
            xhr.onerror = function () {
                alert("An error ocurred. Please try again later")
            }

            xhr.send(myFormData)

        }


        tweetCreateFormEl.addEventListener("submit", handleFormDidSubmit)

        function loadTweets(tweetsElement) {
            const xhr = new XMLHttpRequest()
            const method = 'GET'
            const url = '/tweets'
            const responseType = 'json'

            xhr.responseType = responseType
            xhr.open(method, url)
            xhr.onload = function() {
                // console.log(xhr.response)
                // const listedItems = xhr.response.response  => pure Django
                const listedItems = xhr.response // rest_framework
                let finalTweetStr = ''
                for(let i=0; i < listedItems.length; i++) {
                    // console.log(listedItems[i])
                    var currentItem = formatTweetElement(listedItems[i])
                    finalTweetStr += currentItem
                }

                tweetsElement.innerHTML = finalTweetStr

            }

            xhr.send()
        }

        loadTweets(tweetsEl)



        function handleDidLike(tweet_id, currentCount) {
            console.log(tweet_id, currentCount)
            //currentCount++
            return
        }

        function LikeBtn(tweet) {
            return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" +
            tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
        }

        function formatTweetElement(tweet) {
            var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id
            + "'><p>" + tweet.content +
                "</p><div class='btn-group'>" + LikeBtn(tweet) +
                "</div></div>"
            return formattedTweet
        }

    </script>
{% endblock content %}
